.page-error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;

    .page-error-title {
        font-size: 120px;
        margin: 0;
    }

    .page-error-text {
        margin: 20px 0;
    }

    .page-error-decription {
        font-size: 16px; 
        color: #888;
    }
}