$light-color: #f0f3f5;
$red: #ff0000;
$blue: #0f62ab;
$black: #000000;
$white: #ffffff;
$mb-20: 20px;
$gray: #f5f5f5;
$primary-font: "SF Pro Text", serif;
@font-face {
  font-family: "SF Pro Text";
  src: url(/assets/fonts/SFProText-Regular.ttf);
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(/assets/fonts/helveticaneue.ttf)
}
@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.ttf);
}
body {
  font-family: "SF Pro Text" !important;
  font-size: 14px !important;
  background: var($white);
}
body.body-home-page {
  font-family: "SF Pro Text" !important;
  font-size: 14px !important;
  background: var($white) !important;
  //overflow-y: hidden;
  ::-webkit-scrollbar-thumb {
    background: var($white) !important;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var($white) !important;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    //background: #454a58;
    background: var($white);
  }
}