// @import "styles/index";

.main-header {
  //border: 1px solid #D9D9D9;
  background: #112A45;
  height: 75px;
  padding: 0px;
  margin: 0px;
  //border-bottom: 1px solid #D9D9D9;
//   @media (max-width: 1200px) {
//     height: 35px;
//   }
}
.fix-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  //height: 100px;
}
.container-logo{
  //background:  #4D449B;
  .cover-logo{
    height: 100%;
  }
  .image-logo-weatherplus{
    padding: 8px 0px;
  }
  .content-logo{
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.cover-detail-main-header{
  height: 100%;
}
.detail-content-main-header{
  display: flex;
  //padding-left: 40px;
  .text-link{
    color: #000;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */

    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px 0px 20px;
  }
  .text-link:hover,::selection{
    //:hover{
      border-top: 5px solid transparent;
      border-bottom: 5px solid #4D449B;
    //}
  }

  .text-link-active{
    color: #000;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 121.429% */

    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px 0px 20px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #4D449B;
  }
}
.container-account-user{
  .content-account-user{
    height: 100%;
  }
  .detail-account-user{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    height: 100%;
    .username-text{
      font-weight: 600;
      font-size: 17px;
      line-height: 100%;
      color: #FFFFFF;
      text-align: center;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  }
  .container-notify{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header-icon-user{
  width: 38px;
  cursor: pointer;
}
.detail-dropdown-account{
  border: 1px solid #D9D9D9;
  background: #FFF;
  position: absolute;
  top: 65px !important;
  //right: 0px !important;
  .ant-dropdown-menu-item{
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #D9D9D9;
  }
  .ant-dropdown-menu{
    padding: 0px;
    width: 225px;
  }
}
.header-search{
  height: 100%;
  padding: 15px 55px;
  .ant-input-group{
    height: 100%;
    display: flex;
  }
  .anticon-close-circle{
    font-size: 16px;
  }
  .ant-input-affix-wrapper{
    height: 100%;
    border-radius: 15px 0px 0px 15px !important;
    .ant-input{
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #191b1d;
    }
  }

  .ant-input-search-btn {
    height: 100%;
    padding: 0 23px;
    border-radius: 0px 15px 15px 0px !important;
  }
  .ant-input-group-addon{
    border-radius: 0px 15px 15px 0px;
    .ant-input-search-button{
      height: 100%;
      border-left: none;
      border-color: #acbdcd;
      border-radius: 0px 15px 15px 0px !important;
      width: 50px;
      .anticon-search{
        svg{
          font-size: 25px;
          color: #000000;
        }
      }
    }
  }
}

